In [14]:
l=[1,2,3,4,5]
l.append(10)
print(l)
print("h",l.pop())
print(l)
print("f",l.remove(2))
print(l)
l.insert(0,50)
print(l)
l1=[60,70,80]
l.extend(l1)
print(l)

[1, 2, 3, 4, 5, 10]
h 10
[1, 2, 3, 4, 5]
f None
[1, 3, 4, 5]
[50, 1, 3, 4, 5]
[50, 1, 3, 4, 5, 60, 70, 80]

In [17]:
a=[3,1,2]
b=a.sort(reverse=True)
print(a)
print(b)

[3, 2, 1]
None

In [18]:
a=[3,1,2]
b=sorted(a)
print(b)
print(a)

[1, 2, 3]
[3, 1, 2]

In [19]:
a=[1,2,3]
a.reverse()
print(a)

[3, 2, 1]

In [23]:
a=[1,2,3]
b=list(reversed(a))
print(b)
a.clear()
print(a)

[3, 2, 1]
[]

In [27]:
a='1'
b=2
c=a+b
print(c)

12

In [30]:
a='12345'
b=list(map(int,a))
print(b)

[1, 2, 3, 4, 5]

In [33]:
b=[1,2,3,4,5]
c="".join(map(str,b))
print(c)

12345

In [35]:
t=(10,20,30,40,20) #count
res=t.index(20)  #first occurance
print(res)

1

In [44]:
s1={1,2,3,4}
s2={3,4,5,6}
res1=s1.intersection(s2)
print(res1)
res2=s1.union(s2)
print(res2)
res3=s1.difference(s2)
print(res3)
#add,clear,copy
res4=s1.difference_update(s2)
print(s1)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [45]:
a=int(input())
if(a%2==0):
    print("even")
else:
    print("odd")

10
even

In [46]:
value = ('s', 't', 'r', 'i', 'n', 'g')
t="".join(value)
print(t)

string

In [52]:
s={1,5,2,1,2,3,1}
print(s)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

{1, 2, 3, 5}
Ford

In [66]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964, #Duplicate values will overwrite existing values
  "year": 2020 
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [57]:
a=int(input())
if(a==1):
    print("Monday")
elif(a==2):
    print("Tuesday")
elif(a==3):
    print("wednesday")
elif(a==4):
    print("Thursday")
elif(a==5):
    print("Friday")
elif(a==6):
    print("Saturday")
elif(a==7):
    print("Sunday")
else:
    print("Invalid integer")

8
Invalid integer

In [60]:
#>0 and <20 and even
#>=20 normal odd
#>=30 and odd normal
a=int(input())
if(a>0 and a<20):
    if(a%2==0):
        print("Weird")
    else:
        print("Normal")
elif(a>=20 and a<30):
    print("Normal number")
elif(a>=30):
    if(a%2!=0):
        print("Normal number")
    else:
        print("Weird number")

89
Normal number

In [65]:
l=[10,20,20,30,40]
a=l.count(20)
print(len(l))

5

In [5]:

d={"vani":"89","sailu":"78","sri":"95"}
print(d["vani"])
d.update({'key1':'value1'})
d.update({'key2':'value2'})
d.update({'key1':'value3'})
print(d)

89
{'vani': '89', 'sailu': '78', 'sri': '95', 'key1': 'value3', 'key2': 'value2'}

In [5]:
b={'589':'vani','578':'sailu','595':'sri'}
b.update({'501':'vann'})
for i in b:
    print(i," ",b[i])

589   vani
578   sailu
595   sri
501   vann

In [5]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [15]:
for i in range(1,10):
    print(i,end=" ")
print("\n")
lst=[1,2,3,4]
for i in lst:
    print(i*i,end=" ")

1 2 3 4 5 6 7 8 9

1 4 9 16

In [32]:
a=int(input())
l=[56,43,43,78,345,789,"hello",[1,2,3,4]]
for i in range(0,len(l)):
    if(l[i]==a):
        print(i)
        temp=True
        #break
if(temp==False):
    print("not present in list")

43
1
2

In [35]:
l=[i for i in range(0,10) if i%2==0]
print(l)

[0, 2, 4, 6, 8]

In [40]:
l=[i for i in range(1,101) if i%7==0 and i%11==0]
print(l)

[77]

In [41]:
l=list(map(int,input().split()))
print(l)

1 2 3 4
[1, 2, 3, 4]

In [3]:
#to create 5 dict in user input and store it in list 1 method

d={}
for i in range(2):
    d.update({
        'key1':input(),
        'key2':input()
    })
print(d)     #same reference variable code refactoring

va
12
er
23
{'key1': 'er', 'key2': '23'}

In [17]:
l=[]
for i in range(2):
    d={}
    d.update({
        'username1':'12345',
        'username2':'45678'
    })
    l.append(d)
print(l)

[{'username1': '12345', 'username2': '45678'}, {'username1': '12345', 'username2': '45678'}]

In [31]:
# check username are valid or not
l=[]
temp=0
f=input()
g=input()
s1=[{'user1':'123'},
    {'user3':'789'},
     {'user4':'100'}]
#s2=dict(s1)
for i in s1:
    if(i==f):
        print("valid username")
        temp=True
if(temp==False):
    print("non valid username")

user2
456
valid username

In [33]:
s1=[{'user1':'123'},
    {'user3':'789'},
     {'user4':'100'}]
for i in s1:
    print(i.items())
    print(i.values())
    print(i.keys())
username=input()
password=input()
temp={username:password}
if temp in s1:
    print("found")
else:
    print("not found")

dict_items([('user1', '123')])
dict_values(['123'])
dict_keys(['user1'])
dict_items([('user3', '789')])
dict_values(['789'])
dict_keys(['user3'])
dict_items([('user4', '100')])
dict_values(['100'])
dict_keys(['user4'])
user1
123
found

In [36]:
s1=[{'user1':'123'},
    {'user3':'789'},
     {'user4':'100'}]
username=input()
password=input()
temp={username:password}
if temp not in s1:
    print("registered successfully")
    s1.append(temp)
else:
    print("enter other username")
print(s1)

user1
123
enter other username
[{'user1': '123'}, {'user3': '789'}, {'user4': '100'}]

In [47]:
# 2D array
row=2
col=2
arr=[]
#for k in range(2):
for i in range(row):
    element=[]
    for j in range(col):
        element.append(int(input()))
    arr.append(element)
print(arr)
arr2=[]
for i in range(3):
    temp=list(map(int,input().split()))
    arr2.append(temp)
print(arr2)

1
2
3
4
[[1, 2], [3, 4]]
4
5
6
[[4], [5], [6]]

In [46]:
#add two matrices
arr2=[]
row=3
col=3
for i in range(row):
    temp=list(map(int,input().split()))
    arr2.append(temp)
print(arr2)
arr3=[]
for i in range(row):
    temp=list(map(int,input().split()))
    arr3.append(temp)
print(arr3)
res=[[0 for j in range(col)] for i in range(row)]
for i in range(row):
    for j in range(col):
        res[i][j]=arr2[i][j]+arr3[i][j]
print(res)

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3 2 1
5 6 7
4 3 2
[[3, 2, 1], [5, 6, 7], [4, 3, 2]]
[[4, 4, 4], [9, 11, 13], [11, 11, 11]]

In [52]:
# transpose the arr
arr2=[]
row=3
col=3
for i in range(row):
    temp=list(map(int,input().split()))
    arr2.append(temp)
print(arr2)
for i in range(row):
    for j in range(col):
        print(arr2[j][i],end=" ")
    print()

1 2 3
4 5 7
4 5 7
[[1, 2, 3], [4, 5, 7], [4, 5, 7]]
1 4 4
2 5 5
3 7 7

In [56]:
#list comprehension
res=[[int(input()) for j in range(2)] for i in range(2)]
res

1
2
3
4

[[1, 2], [3, 4]]

In [58]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
n=int(input())
fib1,fib2=0,1
print(fib1)
print(fib2)
for i in range(n-2):
    sum1=fib1+fib2
    print(sum1)
    fib1=fib2
    fib2=sum1

10
0
1
1
2
3
5
8
13
21
34

In [26]:
#String methods
s="hello world"
print(s.capitalize())
res=s.split(' ')
print(res)
print('@'.join(res))
print(res)
print(s.title())
print(s.lower())
print(s.upper())
res=s.count('l')
print(res)
res2='HEllo World'
res2=s.swapcase()
print(res2)

Hello world
['hello', 'world']
hello@world
['hello', 'world']
Hello World
hello world
HELLO WORLD
3
HELLO WORLD

In [38]:
res2='HEllo World'
res2=res2.swapcase()
print(res2)
print('sefgjmf'.isalpha())
print('s1'.isalnum())

heLLO wORLD
True
True

In [51]:
#format in string methods
first='mr. x is'
age=38
last='years old'
print("mr.x is {} years old".format(age))
num=5
print("the square of {} is {}".format(num,num*num))
num=3.14
print("the square of {} is {:.2f}".format(num,num*num))
num=3.14
print("the square of {:10} is {:.2f}".format(num,num*num))
num=10
print(f"the square of {num} is {num*num:.5f}")

mr.x is 38 years old
the square of 5 is 25
the square of 3.14 is 9.86
the square of       3.14 is 9.86
the square of 10 is 100.00000

In [55]:
#Exception handling
a=int(input())
b=int(input())
#print(a/b) #b=0 we get an error so we use the exception handling methods try,except
try:
    print(a/b)
except:
    print("b cannot be 0")

10
0
b cannot be 0

In [64]:
a=int(input())
b=int(input())
while(True):
    v=input()
    if(v=='+'):
        print("add",a+b)
    elif(v=='-'):
        print("sub",a-b)
    elif(v=='*'):
        print("mul",a*b)
    elif(v=='/'):
        try:
            print("div",a/b)
        except:
            print("b cannot be 0")
    else:
        print("invalid operator")
        break

10
0
+
add 10
-
sub 10
*
mul 0
/
b cannot be 0